.footer {
  position: relative;
  border-top: $line;
  background: $color-white;
  margin: 80px 0 0;

  &__inner {
    position: relative;
    padding: 120px 10px 40px;
    max-width: $maxWidth;
    margin: 0 auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include mq(xs) {
      display: block;
    }
  }

  &__logo {
    flex: 0 0 50%;
  }


  &__copy {
    text-align: right;
    flex: 0 0 50%;
    font-weight: 600;
    font-family: 'Cinzel', serif;

    @include mq(xs) {
      margin-top: 32px;
    }
  }
}
