.l-header {
  height: 84px;
  position: relative;
  // position: fixed;
  z-index: 10;
  width: 100%;
  color: $color-main;
  background: $color-bg;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 20px 40px;
    @include mq(sm) {
      padding: 10px 20px;
    }
  }

  &__left {
    position: relative;
  }

  &__mid {
    @include absCenter;
  }

  &__right {

  }

  &__spMenu {
    background: $color-white;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 30;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    transform: translateX(100vw);
    transition: .8s ease;
    @include mq(sm) {
      width: 80%;
    }
  }

  &__box {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: $line;
  }

  &__list {
    padding: 0;
    list-style: none;
    &--spMenu {
      display: none;
    }
  }

  &__item {
    &--logo {
      display: block;
      font-size: 1.8rem;
      color: $color-white;
      transition: opacity 0.3s;
      &:hover {
        opacity: 0.5;
      }
    }

    &--menu {
      width: 100px;
      display: inline-block;
      a {
        display: block;
        letter-spacing: 0.1em;
        color: $color-white;
        p {
          text-transform: uppercase;
          font-weight: 500;
          line-height: 1;
        }
        span {
          font-size: 1rem;
          font-weight: 500;
          color: $color-grey-dark-3;
        }
      }
    }

    &--spMenu {
      position: relative;
      background: $color-grey-light-5;
      border-bottom: 1px solid #E8E8E8;
      transition: transform .3s ease;
      &:hover {
        transform: translateX(5px);
      }

      a {
        font-size: 1.4rem;
        font-weight: 300;
        color: $color-grey-dark-1;
        text-transform: uppercase;
        text-align: left;
        display: block;
        padding: 20px 60px;
        transition: opacity .3s ease .0s;
      }
    }
  }

  &__heading {
    &--spMenu {
      padding: 10px 10px 10px 40px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      color: $color-main;
      @include mq(xs) {
        padding: 10px 10px 10px 20px;
      }
      h4 {
        position: relative;
        margin: 0;
        font-size: 1.8rem;
        font-weight: normal;
        @include mq(xs) {
          font-size: 1.6rem;
        }
      }
      span {
        font-size: 1rem;
        padding-left: 14px;
      }
    }
  }
}
