#accordion .js-accordion-title.open .accordion__button span:nth-child(2) {
  transform: rotate(0deg);
}

.accordion {
  &__wrap {
  }

  &__link {
    padding: 10px 10px 10px 40px;
    display: flex;
    align-items: center;
    color: $color-main;

    h4 {
      display: inline-block;
    }
    span {
      font-size: 1.2rem;
      padding-left: 10px;
    }
  }

  &__box {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    position: relative;
    margin: 0;
    font-size: 1.25em;
    font-weight: normal;
  }

  &__content {
    display: none;
  }

  &__button {
    width: 90px;
    height: 80px;
    position: relative;
    padding: 30px 40px;
    transition: background-color .3s ease .0s;
    &:hover {
      background: $color-grey-light-5;
    }
    button {
      position: relative;
      width: 100%;
      // height: 100%;

      span {
        padding: 0;
        width: 100%;
        height: 1px;
        background: $color-main;
        position: absolute;
        top: -10px;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        transition: .3s;
        &:nth-of-type(2) {
          transform: rotate(
            90deg);
        }
      }
    }
  }
}




/*Chat Bubbles　CSS Setting*/
/* 全体のスタイル */
.voice {
  margin-bottom: 40px;
}
/* 左画像 */
.voice-img-left {
  margin-left: 4px;
  margin-top: -1px;
  float: left;
  width: 60px;
  height: 60px;
}
/* 右画像 */
.voice-img-right {
  margin-right: 4px;
  margin-top: -1px;
  float: right;
  width: 60px;
  height: 60px;
}
.voice figure img {
  width: 100%;
  height: 100%;
  border: 2px solid #eee;
  border-radius: 50%;
  margin: 0;
}
/* 画像の下のテキスト */
.voice-img-description {
  padding: 5px 0 0;
  font-size: 10px;
  text-align: center;
}
/* 左からの吹き出しテキスト */
.voice-text-right {
  color: #444;
  position: relative;
  margin-left: 100px;
  padding: 1.2em;
  border: 3px solid #eee;
  background-color: #fff;
  border-radius: 5px;
}
/* 右からの吹き出しテキスト */
.voice-text-left {
  position: relative;
  margin-right: 100px;
  padding: 1.2em;
  border: 3px solid #eee;
  background-color: #fff;
  border-radius: 5px;
}
p.voice-text {
  margin: 0 0 8px;
}
p.voice-text:last-child {
  margin-bottom: 0px;
}
/* 左の三角形を作る */
.voice-text-right:before {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-right: 10px solid #eee;
  top: 15px;
  left: -20px;
}
.voice-text-right:after {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-right: 10px solid #fff;
  top: 15px;
  left: -16px;
}
/* 右の三角形を作る */
.voice-text-left:before {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-left: 10px solid #eee;
  top: 15px;
  right: -23px;
}
.voice-text-left:after {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-left: 10px solid #fff;
  top: 15px;
  right: -19px;
}
/* 回り込み解除 */
.voice:after,.voice:before {
  clear: both;
  content: "";
  display: block;
}
