.pager{
  margin: 60px 0 0;
  &__list {
    padding: 0;
    list-style:none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    position: relative;
    width: 49%;
    a {
      background: $color-bg;
      color: $color-white;
      display: block;
      padding: 20px 36px;
      @include mq(xs) {
        font-size: 1rem;
        padding: 20px 24px;
      }
      transition: color .4s ease;
      &:hover,
      &:focus {
        color: $color-blue;
      }
    }

    i {
      color: $color-white;
      position: absolute;
      top: 40%;
    }

    &--left {
      text-align: right;
      i {
        left: 16px;
        padding-right: 10px;
      }
    }
    &--right {
      text-align: left;
      i {
        right: 16px;
        padding-left: 10px;
      }
    }
  }
}
